.front {
  position: fixed;
  z-index: 10;
  top: 15%;
  left: 12%;
}
.back {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 17%;
}
.cardNumber {
  position: fixed;
  z-index: 10;
  top: 14rem;
  left: 15%;
  color: white;
  font-weight: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
}
.cardName {
  position: fixed;
  z-index: 10;
  top: 20rem;
  left: 15%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
.cardMMYY {
  position: fixed;
  z-index: 10;
  top: 20rem;
  left: 35%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
.cardCvc {
  position: fixed;
  z-index: 10;
  top: 32rem;
  left: 42%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
.solidCircle {
  background-color: white;
  border-radius: 100%;
  padding: 25px;
  position: fixed;
  z-index: 11;
  top: 10rem;
  left: 15%;
}
.circle {
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid white;
  padding: 12px;
  position: fixed;
  z-index: 11;
  top: 10.7rem;
  left: 20%;
}
@media (min-height: 900px) {
  .cardCvc {
    top: 35.3rem;
    left: 42%;
  }
}
@media (max-width: 768px) {
  .front {
    position: fixed;
    z-index: 10;
    top: 17%;
    left: 9%;
    width: 370px;
    height: 195px;
  }
  .back {
    position: fixed;
    z-index: 9;
    top: 2%;
    left: 18%;
    width: 370px;
    height: 195px;
  }
  .cardNumber {
    position: fixed;
    z-index: 10;
    top: 13rem;
    left: 15%;
    color: white;
    font-weight: normal;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
  }
  .cardName {
    position: fixed;
    z-index: 10;
    top: 17.5rem;
    left: 15%;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
  }
  .cardMMYY {
    position: fixed;
    z-index: 10;
    top: 17.5rem;
    left: 55%;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
  }
  .cardCvc {
    position: fixed;
    z-index: 10;
    top: 6.5rem;
    left: 22rem;
    color: rgb(255, 255, 255);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
  }
  .solidCircle {
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    position: fixed;
    z-index: 11;
    top: 9rem;
    left: 15%;
  }
  .circle {
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid white;
    padding: 12px;
    position: fixed;
    z-index: 11;
    top: 9.4rem;
    left: 26%;
  }
}
