.SuccessPosition {
  position: fixed;
  left: 65%;
  top: 30%;
  text-align: center;
}
.added {
  color: rgb(102, 103, 105);
}
h4 {
  font-size: large;
}
.button {
  width: 23rem;
  height: 3rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .SuccessPosition {
    left: 30%;
    top: 60%;
  }
}

@media (max-width: 768px) {
  .SuccessPosition {
    position: fixed;
    left: 20%;
    top: 50%;
    width: 60%;
  }
  .button {
    width: 16rem;
    height: 2.5rem;
    margin-top: 1rem;
  }
}
