.background {
  position: fixed;
  height: 100%;
  width: 28%;
}
.mobile {
  position: fixed;
  height: 0;
  width: 0;
}
@media (max-width: 900px) {
  .background {
    position: fixed;
    height: 0%;
    width: 0;
  }
  .mobile {
    position: fixed;
    height: 35%;
    width: 100%;
  }
}
